.tamaño-img {
    height: 160px;
    width: 160px;
    border-radius: 5px;

}

.padre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Links {
    margin: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
    box-shadow: 0 2px 2px rgba(16, 56, 129, 0.76);
    transition: all 0.30s;
    
}

.Links:hover {
    transform: translateY(-15px);
    box-shadow: 0 16px 12px rgba(201, 206, 218, 0.76);
}

.imagen {
    width: 80%;
    height: 600px;
}